/bare_metal_programming/aa_latex/output_files
/bare_metal_programming/Blink_Led/.vscode
/bare_metal_programming/ip_repo
/bare_metal_programming/temp
/bare_metal_programming/Blink_Led/ip_repo
/bare_metal_programming/Blink_Led/temp/bare_metal_programming.cache/ip
/bare_metal_programming/Blink_Led/temp
